<!DOCTYPE html>
<html>
<head>
	<title>Creer un gossip</title>
</head>
<body>
	<div class="jumbotron">
		<h1>Crée un gossip :)</h1>

		<form action="/gossips" method="post">
			<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

			<label>Titre: </label>
			<input type="text" name="title" class="form-control">
			
			<label>Contenu: </label>
			<input type="text" name="content" class="form-control">

			<br>
			<input type="submit" name="create" value="Create">
		</form>
	</div>	

</body>
</html>